{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your wins</h2>
      <div class="col mx-3">
          {% for listing in listings %}
          {% if user == listing.price.user %}
          <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="200px">
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">${{ listing.price.bid }}</p>
              <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
            </div>
          </div>
          {% else %}
          <p>You haven't won any auctions yet.</p>
          {% endif %}
        {% endfor %}
      </div>
{% endblock %}